* {
    line-height: 1.9em;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    grid-area: header;
    text-align: center;
    padding: 4em 0;
    margin-top: 4rem;
}
img {
    width: 20%;
    height: auto;
    border: 1px #327a77ef solid;
    border-radius: 1.5rem;
    background: #fff;
    padding: 0.5rem;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: end;
}

button {
    border:1px #3D3B3B solid;
    border-radius: 0.1rem;
    color: #a80577ef;
    background: #f6f6fafb;
    padding: 2px;
    margin: 6px;
    text-decoration: #327a77ef underline;
}


p{
    color: #a80577ef;
    text-decoration: #327a77ef underline;
    margin: 2px;
}

a {
    border:1px #327a77ef solid;
    border-radius: 0.3rem;
    color: #a80577ef;
    background: #f6f6fafb;
    padding: 4px;
    margin: 5px;
    text-decoration: #333 underline;
}
.sidebar {
    grid-area: footer;
    padding: 40px;
    margin: 1px;
    text-align: left;
}
.footer {
    grid-area: footer;
    text-align: center;
    border:1px #327a77ef solid;
    border-radius: 0.3rem;
    color: #a80577ef;
    background: #fff;
    padding: 4px;
    margin: 100px;
    text-decoration: #333 underline
}